footer {
  background-color: #f1ae9d; }
  footer .container {
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    padding: 30px 10px;
    background-color: #e46339;
    color: #fffbef; }
    footer .container h2 {
      font-family: "Oswald";
      text-transform: uppercase;
      color: #ffffff; }

header {
  font-family: "Oswald";
  text-transform: uppercase;
  padding: 10px 0px; }

.logo h1 {
  color: #e46339; }
  .logo h1 span {
    color: #f1ae9d !important; }

#nav li {
  display: inline-block;
  margin: 20px; }
  #nav li a {
    color: #bbbbbb; }
  #nav li .active {
    color: #e46339 !important; }

.header_bottom_area {
  background-color: #f1ae9d;
  height: 80px;
  padding-top: 0px !important; }
  .header_bottom_area .container {
    margin-top: 0px !important;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    background-color: #e46339;
    height: 80px; }
    .header_bottom_area .container h1 {
      font-family: "Oswald";
      text-transform: uppercase;
      font-size: 24px;
      color: #ffffff; }

#contenido-blog .aside .sidetitle h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  color: #e46339;
  font-size: 20px; }
#contenido-blog .aside .sidetitle p {
  color: #424242; }
#contenido-blog .aside ul {
  list-style-type: none;
  list-style-position: outside; }
  #contenido-blog .aside ul a {
    color: #424242; }
#contenido-blog .aside .photos {
  padding: 0px 15px 5px 15px;
  width: 100%; }
  #contenido-blog .aside .photos .square {
    background-color: #f1ae9d;
    border: 1px solid #e46339;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
    margin-left: 5px; }
#contenido-blog .blog img {
  display: inline-block;
  margin: 20px; }
#contenido-blog .blog p {
  color: #424242; }
#contenido-blog .blog .first {
  display: inline-block;
  margin-top: 20px; }
#contenido-blog .blog .last {
  margin-bottom: 20px; }
#contenido-blog .blog blockquote {
  color: #e46339;
  margin-left: 30px;
  border-left: 10px solid #e46339 !important; }

#contenido-blog .supercont {
  margin-top: 30px; }
#contenido-blog .blog-cont {
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff; }
  #contenido-blog .blog-cont .iconito {
    position: relative;
    right: 105px; }
  #contenido-blog .blog-cont .post {
    position: relative;
    bottom: 75px; }
    #contenido-blog .blog-cont .post .headerpost {
      width: 100%;
      margin-bottom: 20px; }
    #contenido-blog .blog-cont .post span {
      font-family: "Oswald";
      text-transform: uppercase;
      color: #e46339;
      font-size: 20px;
      font-size: 16px; }
    #contenido-blog .blog-cont .post p {
      color: #bbbbbb; }
    #contenido-blog .blog-cont .post h4 {
      font-family: "Oswald";
      text-transform: uppercase;
      color: #e46339;
      font-size: 20px; }
    #contenido-blog .blog-cont .post .postit {
      color: #424242; }
    #contenido-blog .blog-cont .post .pattern {
      background: url(../images/post_border_bg.png);
      width: 100%;
      height: 13px;
      position: relative;
      top: 30px;
      left: 20px; }
    #contenido-blog .blog-cont .post .postquote {
      padding: 20px;
      background: url(../images/quote_bg.png);
      width: 100%;
      height: 100px; }

.central img {
  width: 100%;
  margin-top: 20px; }
.central .info {
  margin-top: 20px; }
  .central .info p {
    color: #424242; }
  .central .info a {
    color: #e46339; }
.central .formu input {
  display: block;
  width: 60%; }
.central .formu #mesagge {
  width: 100%;
  resize: none; }
.central .formu .boni {
  border: 1px solid #e46339;
  margin-bottom: 20px;
  font-family: "Oswald";
  text-transform: uppercase;
  color: #e46339;
  font-size: 20px; }

#slide {
  position: relative;
  bottom: 80px; }
  #slide img {
    width: 100%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff; }

#service {
  position: relative;
  bottom: 40px; }
  #service .boxicon {
    text-align: center; }
    #service .boxicon h1 {
      display: inline;
      font-family: "Oswald";
      text-transform: uppercase;
      color: #e46339;
      font-size: 60px; }
  #service .boxtitle h2 {
    font-family: "Oswald";
    text-transform: uppercase;
    color: #e46339;
    font-size: 20px; }
  #service p {
    color: #424242;
    margin-bottom: 30px; }
  #service .boton {
    padding: 10px 20px;
    background-color: #e46339;
    color: #ffffff;
    font-family: "Oswald";
    text-transform: uppercase; }

#fromblog h2, #recent h2 {
  font-family: "Oswald";
  text-transform: uppercase;
  color: #e46339;
  font-size: 20px; }
#fromblog .fromb, #recent .fromb {
  padding: 20px 0px; }
  #fromblog .fromb .lilcont, #recent .fromb .lilcont {
    border: 1px solid #bbbbbb; }
    #fromblog .fromb .lilcont img, #recent .fromb .lilcont img {
      width: 100%; }
    #fromblog .fromb .lilcont .blog_post_meta, #recent .fromb .lilcont .blog_post_meta {
      padding: 10px 30px; }
      #fromblog .fromb .lilcont .blog_post_meta h3, #recent .fromb .lilcont .blog_post_meta h3 {
        font-family: "Oswald";
        text-transform: uppercase;
        color: #bbbbbb;
        font-size: 20px; }
      #fromblog .fromb .lilcont .blog_post_meta h4, #recent .fromb .lilcont .blog_post_meta h4 {
        font-family: "Oswald";
        text-transform: uppercase;
        color: #e46339;
        font-size: 20px;
        font-size: 14px !important; }

#recent {
  padding: 40px 0px; }

#contenido-porftolio .categories {
  margin-bottom: 50px;
  margin-top: 20px;
  font-family: "Oswald";
  text-transform: uppercase; }
  #contenido-porftolio .categories .titulo {
    color: #424242;
    font-size: 20px; }
  #contenido-porftolio .categories li {
    display: inline;
    margin-left: 20px; }
    #contenido-porftolio .categories li a {
      color: #bbbbbb;
      font-size: 16px !important;
      text-decoration: none; }
      #contenido-porftolio .categories li a:hover {
        padding: 10px;
        background-color: #e46339;
        color: #ffffff; }
#contenido-porftolio .pelis {
  margin-bottom: 50px; }
  #contenido-porftolio .pelis .thumbpelis img {
    width: 100%;
    margin-bottom: 10px !important; }
  #contenido-porftolio .pelis .thumbpelis .titpelis {
    padding: 4px;
    border: 1px solid #bbbbbb;
    font-family: "Oswald";
    text-transform: uppercase; }
    #contenido-porftolio .pelis .thumbpelis .titpelis h5 {
      color: #bbbbbb;
      font-size: 25px; }
    #contenido-porftolio .pelis .thumbpelis .titpelis p {
      color: #e46339; }

/*# sourceMappingURL=style.css.map */
