#contenido-blog {
	.aside {
		.sidetitle {
			h3 {
				@include tangertitle;
			}
			p {
				color: $drk-text;
			}
		}
		ul {
			list-style-type: none;
			list-style-position: outside;

				a {
					color: $drk-text;
				}
			}
		.photos {
			padding:0px 15px 5px 15px;
			width: 100%;
			.square {
				@include squares
			}
		}
	}
	.blog {
		img {
			display:inline-block;
			margin: 20px;
		}
		p {
			color: $drk-text;
		}
		.first {
			display:inline-block;
			margin-top: 20px;
		}
		.last {
			margin-bottom: 20px;
		}
		blockquote {
			color: $prin-tanger;
			margin-left: 30px;
			border-left: 10px solid $prin-tanger !important;
		}
	}
}